/* Supprimer les marges internes de la card */
.card {
    padding: 0;
    overflow: hidden; /* important pour éviter débordement */
    width: 300px;
    height: 420px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;

}
.card-img-top {
    height: 180px;
}
/* Supprimer les marges de l'image */
.card-img-top {
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 0; /* optionnel */

}
.card * {
    border: none;
}
/* Garder un padding UNIQUEMENT pour le contenu texte */
.card-body {
    padding: 1rem; /* ajuste si tu veux */
    background-color: #27272a;

}
.row {
    --bs-gutter-x: -0.3rem; /* espace horizontal */
    --bs-gutter-y: 0.75rem;  /* espace vertical */
}
