
/*body.bg-dark{*/
/*    background: #0e172a !important;*/
/*}*/


.title-participating {
    color: #5999ea; !important;
}

.other-available-items {
    color: #5999ea; !important;
}

/*body.bg-dark{*/
/*    background: #0e172a !important;*/
/*}*/

